In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value'])

Populating the interactive namespace from numpy and matplotlib

In [2]:
df.tail(1)[['value']]

        value
365  38324.87

In [3]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

                   date    value
11  2020-06-28 00:00:00  9004.23

In [4]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]

                    date     value
301  2021-04-14 00:00:00  63554.44