In [1]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value'])

In [2]:
df.tail(1)[['value']]

        value
365  15856.95

In [3]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

                    date     value
365  2022-11-10 00:00:00  15856.95

In [4]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]

                  date     value
0  2021-11-10 00:00:00  66954.11