In [1]:
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

# Beyond 1

Using method chaining, and without assigning the downloaded data to a variable, can you return the current value? Your solution should consist of a single line, which includes the download, selection, and calculation.

In [2]:
pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value']).tail(1)['value']

365    38324.87
Name: value, dtype: float64

# Beyond 2

The `pd.read_html` function, like `pd.read_csv`, takes a file-like object or a URL. It assumes that it'll encounter HTML-formatted text containing at least one table. It turns each table into a data frame, then returns a list of those data frames. With this in mind, retrieve 1 year of historical S&P 500 data from Yahoo Finance (https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC), looking only at the `Date`, `Close`, and `Volume` columns. Show the date and volume of the days with the highest and lowest `Close` values.

In [3]:
df = pd.read_html('https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC')[0][['Date', 'Close*', 'Volume']][:-1]

In [4]:
df.loc[df['Close*'] == df['Close*'].min(), ['Date', 'Volume']]

            Date      Volume
96  Jan 29, 2021  6612570000

In [5]:
df.loc[df['Close*'] == df['Close*'].max(), ['Date', 'Volume']]

           Date      Volume
3  Jun 14, 2021  3612050000

# Beyond 3

Create a two-row data frame with the highest and lowest closing prices for the S&P 500. Use the `to_csv` function to write this data to a new CSV file.

In [6]:
df.loc[(df['Close*'] == df['Close*'].min()) |
       (df['Close*'] == df['Close*'].max()), ['Date', 'Volume']].to_csv('sp500hilo.csv')